<div>
  <div class="p-2 transition-transform duration-300 hover:scale-105">
    <!-- <div class=""> -->
      <a href="{{ include.url }}">
        <img
          src="{{ include.image }}"
          alt="图片"
          class="border border-gray-300 w-full mb-2"
        />
        <h3 class="text-lg font-medium leading-snug my-font-color-red mb-1">
          {{ include.title }}
        </h3>
      </a>
      <p class="text-sm leading-snug mb-2">{{ include.description }}</p>
    <!-- </div> -->
  </div>
  <div class="border-t border-1 border-gray-400 my-4"></div>
</div>
