<header class="px-4 py-3 border-b-4 border-gray-800 flex items-center justify-between">
  <a href="/" class="">
    <img src="/assets/images/logo.png" alt="logo" class="w-32" />
  </a>
  <nav class="flex gap-8">
    {% for item in site.data.navigation %}
    <a
      href="{{ item.link }}"
      class="relative group no-underline text-gray-700 transition-colors duration-200 hover:text-red-800"
    >
      {{ item.name }}
      <span
        class="absolute left-0 right-0 bottom-0 h-0.5 bg-red-800 transform scale-x-0 group-hover:scale-x-100 transition-transform duration-50 ease-out"
      ></span>
    </a>
    {% endfor %}
  </nav>
</header>
