.my-bg-color-yellow {
    // background-color: rgb(241,239,232);
    background-color: rgb(255, 255, 255);
}

.my-bg-color-lightyellow {
    background-color: rgb(255, 255, 255);
}

.my-font-color-red {
    color: rgb(132, 17, 17);
}