.noto-sans-sc {
    font-family: "Noto Sans SC", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

.noto-sans-sc-light {
    font-family: "Noto Sans SC", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 250;
}

.noto-sans-sc-bold {
    font-family: "Noto Sans SC", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 550;
}

.noto-sans-sc-extra-bold {
    font-family: "Noto Sans SC", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
}